@use 'sass:color';

.button-section,
.checkbox-section {
    margin: 40px 0;
    text-align: center;

    h3 {
        margin-bottom: 30px;
        color: #333;
    }
}

.button-section {
    background-color: #4f6f97;
    padding: 50px;
    border-radius: 10px;
}

.button-demo {
    margin-bottom: 30px;
}

.states-demo {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;

    .state-item {
        text-align: center;

        p {
            margin-bottom: 15px;
            font-size: 14px;
            color: #666;
        }
    }
}

// 3D Кнопка
.beautiful-btn {
    padding: 14px 32px;
    border-radius: 30px;
    border: none;
    color: #e6eef8;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background: #4f6f97;

    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15), -1px 4px 5px rgba(0, 0, 0, 0.15),
        inset 0px 2px 3px rgba(255, 255, 255, 0.35), inset 0px -12px 5px rgba(0, 0, 0, 0.1);

    transition: all 0.15s ease;

    &:hover {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15), -1px 4px 5px rgba(0, 0, 0, 0.15),
            inset 0px 2px 3px rgba(255, 255, 255, 0.35), inset 0px -12px 5px rgba(0, 0, 0, 0.1);
        background: #53769f;
    }

    &:active {
        box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(255, 255, 255, 0.15),
            inset 4px 4px 8px rgba(0, 0, 0, 0.35), inset -4px -4px 8px rgba(255, 255, 255, 0.1);

        transform: translateY(2px);

        &:hover {
            background: #4f6f97;
        }
    }

    &.hover-demo {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15), -1px 4px 5px rgba(0, 0, 0, 0.15),
            inset 0px 2px 3px rgba(255, 255, 255, 0.35), inset 0px -12px 5px rgba(0, 0, 0, 0.1);
        background: #53769f;
        cursor: unset;
        transform: none;

        &:active {
            &:hover {
                background: #53769f;
            }
        }
    }

    &.active-demo {
        box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(255, 255, 255, 0.15),
            inset 4px 4px 8px rgba(0, 0, 0, 0.35), inset -4px -4px 8px rgba(255, 255, 255, 0.1);
        cursor: unset;
        transform: none;

        &:hover {
            background: #4f6f97;
        }
    }
}

// 3D Чекбокс
.checkbox-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

// Внешний контейнер
.beautiful-checkbox {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 70px;

    &::before {
        content: '';
        position: absolute;
        height: 100px;
        width: 170px;
        background: rgb(230, 230, 230);
        left: -15px;
        top: -13px;
        border-radius: 45px;

        box-shadow:
            0 10px 15px rgba(0, 0, 0, 0.3),
            0 2px 5px rgba(0, 0, 0, 0.2),
            inset 0 2px 4px rgba(255, 255, 255, 0.6),
            inset 0 -4px 6px rgba(0, 0, 0, 0.3);
    }

    input {
        display: none;

        &:checked+.checkbox-track {
            background: #75cb43;

            box-shadow:
                3px 3px 1px rgba(255, 255, 255, 0.3),
                -3px 3px 1px rgba(255, 255, 255, 0.2),
                2px -3px 3px rgba(0, 0, 0, 0.2),
                -2px -3px 3px rgba(0, 0, 0, 0.2),
                inset 0px 5px 10px rgba(95, 91, 91, 0.6),
                inset 0px -5px 10px rgba(95, 91, 91, 0.6);

            .checkbox-ball {
                transform: translateX(70px) rotate(180deg);
            }
        }
    }

    .checkbox-track {
        position: absolute;
        inset: 0;
        border-radius: 70px;
        background: #c83943;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.9, 1);

        box-shadow:
            3px 3px 1px rgba(255, 255, 255, 0.3),
            -3px 3px 1px rgba(255, 255, 255, 0.2),
            2px -3px 3px rgba(0, 0, 0, 0.2),
            -2px -3px 3px rgba(0, 0, 0, 0.2),
            inset 0px 5px 10px rgba(95, 91, 91, 0.6),
            inset 0px -5px 10px rgba(95, 91, 91, 0.6);
    }

    .checkbox-ball {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;

        transition: transform 0.7s cubic-bezier(0.34, 1.2, 0.9, 1);

        box-shadow:
            0 6px 12px rgba(0, 0, 0, 0.4),
            inset -3px -3px 6px rgba(0, 0, 0, 0.3),
            inset 3px 3px 6px rgba(255, 255, 255, 0.3);

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50%;

            background: radial-gradient(circle at 35% 35%,
                    color.adjust(#75cb43, $lightness: 20%),
                    #75cb43,
                    color.adjust(#75cb43, $lightness: -20%));

            mask: conic-gradient(from 90deg,
                    black 0deg,
                    black var(--angle, 0deg),
                    transparent var(--angle, 0deg));

            -webkit-mask: conic-gradient(from 90deg,
                    black 0deg,
                    black var(--angle, 0deg),
                    transparent var(--angle, 0deg));

            transition: --angle 0.7s cubic-bezier(0.34, 1.2, 0.9, 1);
        }

        &::before {
            content: "";
            position: absolute;
            top: 9px;
            left: 9px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba(226, 225, 225, 0.55);
            filter: blur(5px);
            z-index: 2;
        }
    }

    input:checked+.checkbox-track .checkbox-ball::after {
        --angle: 360deg;
    }

    input:not(:checked)+.checkbox-track .checkbox-ball::after {
        --angle: 0deg;
    }
}
