@use 'sass:color';

.button-section,
.checkbox-section {
    margin: 40px 0;
    text-align: center;

    h3 {
        margin-bottom: 30px;
        color: #333;
    }
}

.button-section {
    background-color: #4f6f97;
    padding: 50px;
    border-radius: 10px;
}

.button-demo {
    margin-bottom: 30px;
}

.states-demo {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;

    .state-item {
        text-align: center;

        p {
            margin-bottom: 15px;
            font-size: 14px;
            color: #666;
        }
    }
}

// 3D Кнопка
.beautiful-btn {
    padding: 14px 32px;
    border-radius: 30px;
    border: none;
    color: #e6eef8;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background: #4f6f97;

    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15), -1px 4px 5px rgba(0, 0, 0, 0.15),
        inset 0px 2px 3px rgba(255, 255, 255, 0.35), inset 0px -12px 5px rgba(0, 0, 0, 0.1);

    transition: all 0.15s ease;

    &:hover {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15), -1px 4px 5px rgba(0, 0, 0, 0.15),
            inset 0px 2px 3px rgba(255, 255, 255, 0.35), inset 0px -12px 5px rgba(0, 0, 0, 0.1);
        background: #53769f;
    }

    &:active {
        box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(255, 255, 255, 0.15),
            inset 4px 4px 8px rgba(0, 0, 0, 0.35), inset -4px -4px 8px rgba(255, 255, 255, 0.1);

        transform: translateY(2px);

        &:hover {
            background: #4f6f97;
        }
    }

    &.hover-demo {
        box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15), -1px 4px 5px rgba(0, 0, 0, 0.15),
            inset 0px 2px 3px rgba(255, 255, 255, 0.35), inset 0px -12px 5px rgba(0, 0, 0, 0.1);
        background: #53769f;
        cursor: unset;
        transform: none;

        &:active {
            &:hover {
                background: #53769f;
            }
        }
    }

    &.active-demo {
        box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(255, 255, 255, 0.15),
            inset 4px 4px 8px rgba(0, 0, 0, 0.35), inset -4px -4px 8px rgba(255, 255, 255, 0.1);
        cursor: unset;
        transform: none;

        &:hover {
            background: #4f6f97;
        }
    }
}

// 3D Чекбокс
$checkbox-off: #c83943;
$checkbox-on: #75cb43;
$ball-off: #c83943;
$ball-on: #75cb43;

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

// Внешний контейнер для 3D-эффекта
.beautiful-checkbox {

    &::before {
        content: '';
        position: absolute;
        height: 100px;
        width: 170px;
        background: rgb(230, 230, 230);
        left: -15px;
        top: -13px;
        border-radius: 45px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3),
            0 2px 5px rgba(0, 0, 0, 0.2),
            inset 0 2px 4px rgba(255, 255, 255, 0.6),
            inset 0 -4px 6px rgba(0, 0, 0, 0.3);
    }

    position: relative;
    display: inline-block;
    width: 140px;
    height: 70px;
    z-index: 20;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;

        &:checked+.checkbox-track {
            background: $checkbox-on;

            box-shadow:
                3px 3px 1px rgba(255, 255, 255, 0.3),
                -3px 3px 1px rgba(255, 255, 255, 0.2),
                2px -3px 3px rgba(0, 0, 0, 0.2),
                -2px -3px 3px rgba(0, 0, 0, 0.2),
                inset 0px 5px 10px rgba(95, 91, 91, 0.6),
                inset 0px -5px 10px rgba(95, 91, 91, 0.6);

            .checkbox-ball {
                // Перекатываем шарик вправо
                transform: translateX(70px);

                // Шарик полностью зелёный
                background: radial-gradient(circle at 35% 35%,
                        color.adjust($ball-on, $lightness: 20%),
                        $ball-on,
                        color.adjust($ball-on, $lightness: -20%));
            }
        }
    }

    .checkbox-track {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 70px;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        background: $checkbox-off;

        box-shadow:
            3px 3px 1px rgba(255, 255, 255, 0.3),
            -3px 3px 1px rgba(255, 255, 255, 0.2),
            2px -3px 3px rgba(0, 0, 0, 0.2),
            -2px -3px 3px rgba(0, 0, 0, 0.2),
            inset 0px 5px 10px rgba(95, 91, 91, 0.6),
            inset 0px -5px 10px rgba(95, 91, 91, 0.6);

        .checkbox-ball {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 58px;
            height: 58px;
            border-radius: 50%;
            transition: all 0.35s cubic-bezier(0.34, 1.2, 0.55, 1);

            background: radial-gradient(circle at 35% 35%,
                    color.adjust($ball-off, $lightness: 20%),
                    $ball-off,
                    color.adjust($ball-off, $lightness: -20%));

            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4),
                inset -3px -3px 6px rgba(0, 0, 0, 0.3),
                inset 3px 3px 6px rgba(255, 255, 255, 0.3);

            &::before {
                content: '';
                position: absolute;
                top: 12px;
                left: 12px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: rgba(226, 225, 225, 0.55);
                filter: blur(2px);
                transition: left 0.3s ease, right 0.3s ease;
                z-index: 2;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 12px;
                right: 14px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.15);
                filter: blur(1px);
            }
        }
    }
}

.checkbox-label {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

@media (max-width: 600px) {
    .beautiful-checkbox {

        &::before {
            content: "";
            position: absolute;
            height: 80px;
            width: 130px;
            background: rgb(230, 230, 230);
            left: -15px;
            top: -13px;
            border-radius: 40px;
        }

        width: 100px;
        height: 50px;

        input:checked+.checkbox-track .checkbox-ball {
            transform: translateX(50px);
        }

        .checkbox-track .checkbox-ball {
            width: 40px;
            height: 40px;
            top: 5px;
            left: 5px;

            &::before {
                top: 8px;
                left: 8px;
                width: 10px;
                height: 10px;
            }
        }
    }

    .states-demo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .beautiful-btn {
        padding: 10px 24px;
        font-size: 16px;
    }
}
